# Telegram Bot Token from BotFather (make sure there are no spaces)
TELEGRAM_BOT_TOKEN=

# Email configuration for nodemailer
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
# If you have 2FA enabled on Gmail, use an App Password instead of your regular password
EMAIL_PASS=
EMAIL_FROM=

# Application URL - Keep this updated with your ngrok URL when testing
NEXT_PUBLIC_APP_URL=

MONGODB_URI=
JWT_SECRET=

NEXT_PUBLIC_BASE_URL=

CRON_API_KEY=
GOOGLE_GENAI_API_KEY=